* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #102C46;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #2B547A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600d;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}