* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #11100B;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 26px;
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a:hover {
    color: #FCDE9C;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 40vw;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 600;
    padding-right: 10px;
    color: #FCDE9C;
}

.title {
    display: flex;
    padding-bottom: 20px;
    color: #FCDE9C;
}

.title i {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
}

.home-content p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}


.buttons {
    margin-top: 30px;
}

.buttons button{
    background-color: #ededed;
    color: #08141F;

    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 12px;
    margin-right: 10px;
}

.buttons button:hover {
    background-color: #FCDE9C;
}

.picture {
    display: flex;
    align-items: center;

    padding-left: 50px;
}

.picture img {
    width: 400px;
    height: 400px;
}